<!DOCTYPE html>
<%- include header %>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        <%= title %>
        hello this is a new world, do you happy?
    </body>
</html>